<mj-section background-color="#f3f3f5" padding="10px 20px">
  <mj-column width="100%">
    <mj-text align="center" color="#55575d" font-size="12px">
      &copy; 2024 Company Name. All rights reserved.
    </mj-text>
    <mj-text align="center" color="#55575d" font-size="12px" padding="2px 0 0 0">
      <a href="https://www.example.com/privacy">Privacy Policy</a> | <a href="https://www.example.com/terms">Terms of Service</a>
    </mj-text>
  </mj-column>
</mj-section>