<mj-section background-color="#ffffff" padding="10px 20px">
    <mj-column width="100%">
      <mj-image href="{{ env.APP_URL }}" src="https://cdn.baboost.com/assets/img/mail-logo.png" width="147px" height="33px" padding="0"></mj-image>
    </mj-column>
  </mj-section>