<mj-head>
  <mj-title>Adonis API Postgres Starter</mj-title>
  <mj-attributes>
    <mj-font name="Poppins" href="https://fonts.googleapis.com/css?family=Poppins:300,500"></mj-font>
    <mj-all font-family="Poppins, Helvetica, Arial, sans-serif" color="#333333" font-size="14px" line-height="22px"></mj-all>
  </mj-attributes>
  <mj-style>
    a { color: blue; text-decoration: none; }
  </mj-style>
</mj-head>